* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(15, 15, 18, 0.65);
    border-radius: 15px;
    margin-top: 6px;
}

#workspaces {
    margin: 6px;
    border-radius: 18px;
    background: rgba(30, 30, 35, 0.75);
    padding-left: 12px;
    padding-right: 6px;
}

#workspaces button {
    transition: none;
    color: #7A7F8C;
    background: transparent;
    margin-right: 10px;
}

#workspaces button.empty {
    color: #3A3A3A;
    font-size: 2px;
}

#workspaces button.persistent {
    color: #7A7F8C;
    font-size: 4px;
}

#workspaces button.active {
    color: #E03A3A;
    font-size: 4px;
}

#cpu, #memory, #disk, #custom-launcher, #uptime, #network, #bluetooth, #pulseaudio, #battery, #clock{
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #B8BCC6;
    background: rgba(30, 30, 35, 0.75);
}

#battery.charging,
#battery.plugged {
    color: #B8BCC6;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #C92424;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        color: #C92424;
    }
}

#custom-launcher {
    font-size: 18px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    color: #C92424;
    background: transparent;
}

#custom-power {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 6px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #B8BCC6;
    background: transparent;
}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #C92424;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    background: rgba(201, 36, 36, 0.75);
}

#custom-uptime,
.uptime-module {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #B8BCC6;
    background: rgba(30, 30, 35, 0.75);
}
