* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background-color: rgba(212, 220, 226, 0.45);
    border-radius: 15px;
    margin-top: 6px;
}

#workspaces {
    margin: 6px;
    border-radius: 18px;
    background: rgba(215, 215, 200, 0.25);
    padding-left: 12px;
    padding-right: 6px;
}

#workspaces button {
    transition: none;
    color: #7A8BA0; 
    background: transparent;
    margin-right: 10px;
}

#workspaces button.empty {
    color: #C06A5A; 
    font-size: 2px;
}

#workspaces button.persistent {
    color: #7A8BA0;
    font-size: 4px;
}

#workspaces button.active {
    color: #D9B578;
    font-size: 4px;
}

#network, #pulseaudio, #battery, #clock, #memory, #disk, #cpu, #bluetooth {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    transition: none;
    color: #545454; 
    background: rgba(215, 215, 200, 0.25); 
}

#battery.charging,
#battery.plugged {
    color: #545454;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #DCA3A1; 
    color: #545454;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        color: #DCA3A1;
    }
}

#custom-launcher {
    font-size: 18px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    color: #C06A5A; 
    background: transparent;
}

#custom-power {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 6px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    background: transparent;
}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #545454;
    background: #D9B578;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #545454;
    background: #DCA3A1; 
}
