* {
	border: none;
	border-radius: 10px;
    font-family: "ttf-firacode-nerd";
	font-size: 15px;
	min-height: 10px;
}

window {}

window#waybar {
	background-color: #1A1B26;
    border-radius: 15px;
    margin-top: 6px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
    margin: 6px;
	border-radius: 18px;
	background: rgba(42, 43, 58, 0.20);
	transition: none;
    padding-left: 12px;
    padding-right: 6px;
}

#workspaces button {
	transition: none;
	color: #B5E8E6;
	background: transparent;
    margin-right: 10px;
}

#workspaces button.persistent {
    color: #7aa2f7;
    background: transparent;
    font-size: 4px;
}

#workspaces button.empty {
	color: #583794;
    font-size: 2px;
    background: transparent;
}

#workspaces button.active {
	color: #e0af68;
	background: transparent;
	font-size: 4px;
}

#network, #pulseaudio, #battery, #clock, #memory, #disk, #cpu, #bluetooth {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 18px;
	font-size: 14px;
	font-weight: bold;
	transition: none;
	color: #F1F1F1;
	background: rgba(42, 43, 58, 0.20);
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        color: #B5E8E0;
    }
}

#custom-launcher {
	font-size: 18px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
    color: #7dcfff;
    background: transparent;
}

#custom-power {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 6px;
	border-radius: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #F1F1F1;
	background: transparent;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: #161320;
	background: #F2CDCD;
}
